# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/var/log/
/tests/output/
.phpunit.result.cache

# Node / Frontend
node_modules/
dist/
dist-ssr/
build/
public/build/
*.local

# Symfony
/var/
.env
/.env.local
/.env.dev
/.env.test
/.env.*.local
/.env.local.php
/config/secrets/*/secrets.*.key
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache/
/var/data/

# JWT keys
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# IDEs / Editors
.vscode/*
!.vscode/extensions.json
.idea/
.phpstorm.meta.php
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Web server / Docker
.docker/
docker-compose.override.yml
.nginx/
.htaccess

# Testing / Coverage
/coverage/
